﻿textarea#raw-text {
    width:45%;
    height:20ex;
    font-family:'Lucida Console' monospace;
    font-size:small;
    display:none;
}

div.drop-zone{
    font-size:small;
    display:inline-block;
    width:60ex;
    height:20ex;
    margin-right:2ex;
    border:dashed thick gray;
    text-align:center;
    padding:1ex;
    overflow:auto;
}
div#drop-zone-lights{
    width:70ex;
}
div#drop-zone-temp,div#drop-zone-humid,div#drop-zone-co2{
    width:20ex;
}

input.twrsubemail{
    width:80ex;
}
.at-selected td{
    background-color:lightgray;
    border-top:solid thin;
    border-bottom:solid thin;
}
.lg-selected td{
    border-top:solid thin;
    border-bottom:solid thin;
}
div.drop-zone{
    border:dashed thick gray;
    text-align:center;
    padding:1ex;
}
div.drop-zone table{
    border:solid thin black;
}
div.drop-zone table td.short-num input{
    width:6ex;
    text-align:right;
}
div.drop-zone table td.short-text input{
    width:3ex;
}
div.drop-zone table td.long-text input{
    width:32ex;
}
div.drop-zone table td.long-num input{
    width:10ex;
    text-align:right;
}

div.drop-zone.hover{
    border:dashed thick black;
}
svg, #area-chart-html{
    padding:1ex;
    border:solid gray thin;
    margin:1ex 0;
}

#area-chart-html div.current-cell {
    border-color:black;
    z-index:1;
}
#area-chart-html div{
    border-style:solid;
    border-color:gray;
}

#area-chart-html div:hover{
    border-color:black;
    z-index:1;
}

#usr-name,#recipe-name,#site-id{
    color:orange;
}

#trayTable{
    border-collapse:collapse;
}
#trayTable td,#trayTable th{
    border:solid thin black;
    padding:.5em;
}

#trayTable td.recipe-name,#trayTable td.cols{
    padding-right:3em;
    position:relative;
}
#trayTable td button.edit,#trayTable td button.save{
    position:absolute;
    right:.5ex;
}

#svg-container{
    border:thick dotted rgba(128,128,128,0);
}
#svg-container.hover{
    border:thick dotted rgb(128,128,128);
}
#area-chart-html div.action-tag{
     position: absolute;
    width:1.5em;
    height: 1.5em;
    border-width: medium;
    border-color: gray;
    border-radius: 1.5em;
    text-align: center;
    background-color: white;
    cursor:pointer;
}
#area-chart-html div.action-tag.selected{
    border-color: black;
    background-color:lightgray;
}

div.adder{
    padding:0;
}
div.adder_t{
    position:absolute;
    top:0;
    width:100%;
    height:10px;
}
div.adder_m {
    width:100%;
    height:10px;
}
div.adder_b {
    position:absolute;
    bottom:0;
    width:100%;
    height:10px;
}
.adder_b .plus{
    top:0px;
}
.plus {
    position: absolute;
    left: 16px;
    border: solid thin black;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    top: -10px;
    padding: 0;
    line-height: 16px;
    font-size: 20px;
    background-color:white;
    cursor:copy;
}

#env-container{
    border:none;
    position:absolute;
}